


<%- include('../../manage/include/header.ejs') %>
<section class="gallery_section_mainpage" id="admin_edit">
    <fieldset>
        <div class="notice_list_top">
            <p1>암호 수정</p1>
            <p2>Home &gt; 관리설정 &gt; 암호 수정 </p2>
        </div>
        <form action="/updatePassword" method="post" id="passwordChangeForm">
            <table class="edit-table">
                <tr>
                    <td class="edit-front-td">아이디 : </td>
                    <td><%= userId %></td>
                </tr>
                <tr>
                    <td class="edit-front-td">새 비밀번호 : </td>
                    <td><input type="password" name="newPassword" id="newPassword" required></td>
                </tr>
                <tr>
                    <td class="edit-front-td">비밀번호 확인 : </td>
                    <td><input type="password" name="confirmPassword" id="confirmPassword" required></td>
                </tr>
            </table>
            <div style="display: flex; width: 100%; justify-content: center; margin-top: 10px;">
                <button type="submit" class="edit-button">수정</button>
            </div>
        </form>
    </fieldset>
</section>

<script>
    document.getElementById('passwordChangeForm').addEventListener('submit', function(e) {
        const newPassword = document.getElementById('newPassword').value;
        const confirmPassword = document.getElementById('confirmPassword').value;

        // 두 비밀번호가 일치하지 않을 때
        if (newPassword !== confirmPassword) {
            e.preventDefault(); // 폼 제출 중지
            window.alert('비밀번호가 동일하지 않습니다');
            return;
        }

        // 비밀번호에 특수 문자가 포함되어 있을 때
        const regex = /[!@#$%^&*(),.?":{}|<>]/g;
        if (regex.test(newPassword)) {
            e.preventDefault();
            window.alert('특수 문자는 사용하실 수 없습니다');
            return;
        }

        // 비밀번호가 공백일 때
        if (newPassword.trim() === "") {
            e.preventDefault();
            window.alert('비밀번호 란이 공백입니다');
            return;
        }

        window.alert('수정이 완료되었습니다');
    });
</script>


<%- include('../../manage/include/footer.ejs') %>
