<link async="" rel="stylesheet" href="/public/css/common_css/footer.css">
<footer class="footer">
    <div class="footer_left">
        <img src="/public/img/logo/logo_header.png" alt="hanbul_logo">
        <ul class="box">
            <li>경상북도 안동시 경동로 1375,<br>지역산학협력관 403호</li>
            <li>054)843-8843</li>
            <li>loovegod@naver.com</li>
        </ul>
    </div>
    <ui class="footer_right">
        <li>
            <h2>BRAND</h2>
            <ul class="box">
                <li><a href="/brand">한불소개</a></li>
                <li><a href="/contact">오시는길</a></li>
            </ul>
        </li>
        <li class="features">
            <h2>STORE</h2>
            <ul class="box">
                <li><a href="https://smartstore.naver.com/hanbulsn">쇼핑몰</a></li>
                <li><a href="https://smartstore.naver.com/hanbulsn">스마트스토어</a></li>
            </ul>
        </li>
        <li>
            <h2>REVIEW</h2>
            <ul class="box">
                <li><a href="/review">고객리뷰</a></li>
            </ul>
        </li>
        <li>
            <h2>NOTICE</h2>
            <ul class="box">
                <li><a href="/news">한불소식</a></li>
                <li><a href="/notice">공지사항</a></li>
            </ul>
        </li>
        <li>
            <ul class="box">
                <li class="sns"><a href="https://blog.naver.com/andonghanbul" target="_blank"><img src="/public/img/icon/naver.png" alt="naver"></a></li>
                <li class="sns"><a href="https://www.youtube.com/@user-gk7cx2xl5g" target="_blank"><img src="/public/img/icon/youtube.png" alt="youtube"></a></li>
            </ul>
        </li>
    </ui>
    <div class="footer_bottom">
        <p>
            Copyright © 2023 Inc 안동한우불고기. All Rights Reserved
        </p>
    </div>
    <script>
        (function(){const w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.")}const ch=function(...args){ch.c(args)};ch.q=[];ch.c=function(args){ch.q.push(args)};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return}w.ChannelIOInitialized=true;const s=document.createElement("script");s.type="text/javascript";s.async=true;s.src='https://cdn.channel.io/plugin/ch-plugin-web.js';const x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x)}}if(document.readyState==="complete"){l()}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l)}})();

        ChannelIO('boot', {
            "pluginKey": "9a236e14-6149-440d-bee3-5f60747e0b0f"
        });
    </script>
</footer>

<footer class="mobile_footer">
    <div class="m_footer_top">
        <img class="m_footer_logo" src="/public/img/logo/logo_header.png" alt="hanbul_logo">
        <ul class="m_footer_ul01">
            <li>경상북도 안동시 경동로 1375,<br>지역산학협력관 403호</li>
            <li>054)843-8843</li>
            <li>loovegod@naver.com</li>
        </ul>
        <ul class="m_footer_ul03">
            <li class="sns naver"><a href="https://blog.naver.com/andonghanbul" target="_blank"><img src="/public/img/icon/naver.png" alt="naver"></a></li>
            <li class="sns"><a href="https://www.youtube.com/@user-gk7cx2xl5g" target="_blank"><img src="/public/img/icon/youtube.png" alt="youtube"></a></li>
        </ul>
    </div>
    <div class="footer_bottom">
        <p>
            Copyright © 2023 Inc 안동한우불고기. All Rights Reserved
        </p>
    </div>
    <script>
        (function(){const w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.")}const ch=function(...args){ch.c(args)};ch.q=[];ch.c=function(args){ch.q.push(args)};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return}w.ChannelIOInitialized=true;const s=document.createElement("script");s.type="text/javascript";s.async=true;s.src='https://cdn.channel.io/plugin/ch-plugin-web.js';const x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x)}}if(document.readyState==="complete"){l()}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l)}})();

        ChannelIO('boot', {
            "pluginKey": "9a236e14-6149-440d-bee3-5f60747e0b0f"
        });
    </script>
</footer>