<style>
    @media screen and (max-width: 1390px) {
        .san_left_left {flex-direction: column; display: flex; width: 100%;}
        .left_span_01, .left_span_02 {text-align: center;}
        .left_span_02 {padding: 0;}
    }
    @media screen and (max-width: 942px) {
        .san_footer_top_div {width: 100%;}
    }
    @media screen and (max-width: 760px) {
        .san_footer_top_div {flex-direction: column;}
        .san_footer_left {width: 100%;}
        .san_footer_right {width: 100%;}
        .san_footer_right span {padding: 0; margin: 4px 0; width: 100%; text-align: center;}
    }
</style>











<footer class="san_footer">
    <div class="san_footer_top_div">
        <div class="san_footer_left">
            <div class="san_left_left">
                <span class="left_span_01">010-9865-4352</span>
                <span class="left_span_02">월~금요일 오전 9시 - 오후 6시</span>
            </div>
        </div>
        <div class="san_footer_right">
            <span>법인명 (상호) | 주식회사 산들정</span>
            <span>사업자등록번호 | 698-88-00732</span>
            <span>주소 | 경북 안동시 북후면 산북로 1482</span>
            <span>통신판매업번호 | 2018-안동시-0078</span>
            <span>email | gkdhk76@naver.com</span>
        </div>
    </div>
</footer>