<footer class="san_footer">
    <div class="san_footer_top_div">
        <div class="san_footer_left">
            <div class="san_left_left">
                <span class="left_span_01">010-9865-4352</span>
                <span class="left_span_02">월~금요일 오전 9시 - 오후 6시</span>
            </div>
            <div class="san_left_right">
                <a href="">카카오톡 문의</a>
                <a href="">이메일 문의</a>
                <a href="">대량주문 문의</a>
            </div>
        </div>
        <div class="san_footer_right">
            <span>법인명 (상호) | 주식회사 산들정</span>
            <span>사업자등록번호 | 698-88-00732</span>
            <span>주소 | 경북 안동시 북후면 산북로 1482</span>
            <span>통신판매업번호 | 2018-안동시-0078</span>
            <span>email | gkdhk76@naver.com</span>
        </div>
    </div>
</footer>