<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="title" content="안동한우불고기">
    <meta name="keywords" content="안동한우불고기">
    <meta name="description" content="안동한우불고기">

    <meta property="og:locale" content="ko_KR">
    <meta property="og:type" content="website">
    <meta property="og:title" content="안동한우불고기">
    <meta property="og:description" content="안동한우불고기">
    <meta property="og:url" content="https://andonghanbul.com">
    <meta property="og:site_name" content="안동한우불고기">
    <meta property="og:image" content="/img/meta_image.png">

    <meta name="robots" content="noodp">
    <meta name="NaverBot" content="All">
    <meta name="NaverBot" content="index, follow">
    <meta name="Yeti" content="All">
    <meta name="Yeti" content="index, follow">
    <link rel="icon" type="image/png" href="" sizes="16x16">

    <!-- SEO 최적화 -->
    <meta name="title" content="ATLANTIS" class="meta-title">
    <meta name="description" content="안동한우불고기" class="meta-desc">
    <meta name="keywords" content="안동한우불고기">
    <meta name="apple-mobile-web-app-title" content="HANBUL">
    <link rel="image_src" href="https://andonghanbul.com">
    <!-- SEO 최적화 -->

    <!-- SNS 공유 -->
    <meta property="og:site_name" content="HANBUL" class="meta-title">
    <meta property="og:title" content="HANBUL" class="meta-title">
    <meta property="og:description" content="안동한우불고기" class="meta-desc">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="KR">
    <meta property="og:url" content="https://andonghanbul.com">
    <meta property="og:image" content="/public/img/meta.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <meta name="naver-site-verification" content="7253936495cadf84b6be7047d4f9b9d257275b1c" />


    <title>HANBUL</title>

    <style>
        {display: none; width: 0; height: 0; margin: 0; border: none;}
        @media  screen and (max-width: 1050px) {
        {display: none;}
        {display: none;}
        {display: block; height: 760px; width: 100%; margin-top: 30px;}
        {padding: 0!important;}
        }
        @media  screen and (max-width: 920px) {{height: 648px;}}
        @media  screen and (max-width: 780px) {{height: 560px;}}
        @media  screen and (max-width: 767px) {{height: 1300px;}}
        @media  screen and (max-width: 710px) {{height: 1230px;}}
        @media  screen and (max-width: 650px) {{height: 1100px;}}
        @media  screen and (max-width: 590px) {{height: 1000px;}}
        @media  screen and (max-width: 550px) {{height: 934px;}}
        @media  screen and (max-width: 490px) {{height: 840px;}}
        @media  screen and (max-width: 430px) {{height: 737px;}}
        @media  screen and (max-width: 380px) {{height: 650px;}}
        @media  screen and (max-width: 340px) {{height: 580px;}}
        @media  screen and (max-width: 300px) {{height: 515px;}}

    </style>


    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Person",
            "name": "HANBUL",
            "url": "https://andonghanbul.com",
            "sameAs": [
                "유튜브",
                "인스타",
                "페이스북",
                "네이버"
            ]
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
<!--    <link rel="apple-touch-icon" sizes="57x57" href="/img/favi/apple-icon-57x57.png">-->
<!--    <link rel="apple-touch-icon" sizes="60x60" href="/img/favi/apple-icon-60x60.png">-->
<!--    <link rel="apple-touch-icon" sizes="72x72" href="/img/favi/apple-icon-72x72.png">-->
<!--    <link rel="apple-touch-icon" sizes="76x76" href="/img/favi/apple-icon-76x76.png">-->
<!--    <link rel="apple-touch-icon" sizes="114x114" href="/img/favi/apple-icon-114x114.png">-->
<!--    <link rel="apple-touch-icon" sizes="120x120" href="/img/favi/apple-icon-120x120.png">-->
<!--    <link rel="apple-touch-icon" sizes="144x144" href="/img/favi/apple-icon-144x144.png">-->
<!--    <link rel="apple-touch-icon" sizes="152x152" href="/img/favi/apple-icon-152x152.png">-->
<!--    <link rel="apple-touch-icon" sizes="180x180" href="/img/favi/apple-icon-180x180.png">-->
<!--    <link rel="icon" type="image/png" sizes="192x192" href="/img/favi/android-icon-192x192.png">-->
<!--    <link rel="icon" type="image/png" sizes="32x32" href="/img/favi/favicon-32x32.png">-->
<!--    <link rel="icon" type="image/png" sizes="96x96" href="/img/favi/favicon-96x96.png">-->
<!--    <link rel="icon" type="image/png" sizes="16x16" href="/img/favi/favicon-16x16.png">-->
<!--    <meta name="msapplication-TileImage" content="/img/favi/ms-icon-144x144.png">-->


    <link rel="stylesheet" href="/public/css/common_css/basic.css">
    <link rel="stylesheet" href="/public/css/common_css/header.css">
    <link rel="stylesheet" href="/public/css/common_css/news.css">
    <link rel="stylesheet" href="/public/css/common_css/notice.css">
    <link rel="stylesheet" href="/public/css/common_css/review.css">
    <link rel="stylesheet" href="/public/css/common_css/font.css">

    <link href="https://fonts.cdnfonts.com/css/jost" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script defer="" src="/public/js/atlantis/main.js"></script>

</head>


<header id="header">
    <div id="header_in">
        <h1><a href="/main" title=""><img src="/public/img/logo/logo_header.png" alt="" width=" " height="" /></a></h1>

        <div class="right_div">
            <input type="checkbox" id="menu-icon">
            <label for="menu-icon">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <div class="side-bar">
                <div class="navi_link">
                    <div class="sns">
                        <a href="https://blog.naver.com/andonghanbul" target="_blank">
                            <img src="/public/img/icon/naver_navi.png" alt="naver" class="default_ho">
                        </a>
                        <a href="https://www.youtube.com/@user-gk7cx2xl5g" target="_blank">
                            <img src="/public/img/icon/youtube_navi.png" alt="youtube" class="default_ho">
                        </a>
                    </div>
                </div>
                <div class="side-link">
                    <ul class="navi_link">

                        <li class="navi_txt">
                            <span class="num">01</span><a href="/brand" class="brand" style="font-family: 'MICE', sans-serif; font-weight: normal;">한불</a>
                            <div class="sub_navi">
                                <ul class="">
                                    <li>
                                        <a href="/brand" style="font-family: 'MICE', sans-serif; font-weight: normal;">한불소개</a>
                                    </li>
                                    <li>
                                        <a href="/contact" style="font-family: 'MICE', sans-serif; font-weight: normal;">오시는길</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="navi_txt">
                            <span class="num">02</span><a href="/" class="store" style="font-family: 'MICE', sans-serif; font-weight: normal;">스토어</a>
                            <div class="sub_navi">
                                <ul class="">
                                    <li>
                                        <a href="https://smartstore.naver.com/hanbulsn" style="font-family: 'MICE', sans-serif; font-weight: normal;">쇼핑몰</a>
                                    </li>
                                    <li>
                                        <a href="https://smartstore.naver.com/hanbulsn" style="font-family: 'MICE', sans-serif; font-weight: normal;">스마트스토어</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="navi_txt">
                            <span class="num">03</span><a href="/review" class="review" style="font-family: 'MICE', sans-serif; font-weight: normal;">고객리뷰</a>
                            <!--              <div class="sub_navi">-->
                            <!--                <ul class="">-->
                            <!--                  <li>-->
                            <!--                    <a href="/">회사 소개</a>-->
                            <!--                  </li>-->
                            <!--                  <li>-->
                            <!--                    <a href="/">오시는 길</a>-->
                            <!--                  </li>-->
                            <!--                </ul>-->
                            <!--              </div>-->
                        </li>

                        <li class="navi_txt">
                            <span class="num">04</span><a href="/notice" class="notice" style="font-family: 'MICE', sans-serif; font-weight: normal;">공지사항</a>
                            <div class="sub_navi">
                                <ul class="">
                                    <li>
                                        <a href="/news" style="font-family: 'MICE', sans-serif; font-weight: normal;">뉴스</a>
                                    </li>
                                    <li>
                                        <a href="/notice" style="font-family: 'MICE', sans-serif; font-weight: normal;">공지사항</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="mobile_side_bar">
        <div class="m_side_back">
            <div class="m_side_in">
                <div class="m_menu_top"> <span class="m_menu_front">01</span> <span class="m_menu_back">한불</span> </div>
                <div class="m_menu_btm"> <a href="/brand">한불소개</a> <a href="/contact">오시는길</a> </div>

                <div class="m_menu_top"> <span class="m_menu_front">02</span> <span class="m_menu_back">스토어</span> </div>
                <div class="m_menu_btm"> <a href="https://smartstore.naver.com/hanbulsn">쇼핑몰</a> <a href="https://smartstore.naver.com/hanbulsn">스마트스토어</a> </div>


                <div class="m_menu_top"> <a href="/review"> <span class="m_menu_front">03</span> <span class="m_menu_back">고객리뷰</span> </a></div>


                <div class="m_menu_top"> <span class="m_menu_front">04</span> <span class="m_menu_back">공지사항</span> </div>
                <div class="m_menu_btm"> <a href="/news">뉴스</a> <a href="/notice">공지사항</a> </div>
            </div>
        </div>
    </div>
    <!-- HTML -->
    <script>
        document.getElementById('menu-icon').addEventListener('change', function() {
            var sidebar = document.querySelector('.mobile_side_bar');
            if(this.checked) {
                sidebar.style.right = '0';
            } else {
                sidebar.style.right = '100vw';
            }
        });

        document.addEventListener('DOMContentLoaded', function() {
            const menuTops = document.querySelectorAll('.m_menu_top');

            menuTops.forEach(function(menuTop) {
                menuTop.addEventListener('click', function() {
                    menuTops.forEach(function(innerMenuTop) {
                        if (menuTop !== innerMenuTop) {
                            const siblingBtm = innerMenuTop.nextElementSibling;
                            if (siblingBtm && siblingBtm.classList.contains('m_menu_btm')) {
                                siblingBtm.style.opacity = '0';
                                siblingBtm.style.height = '0';
                                siblingBtm.style.overflow = 'hidden';
                            }
                        }
                    });

                    const menuBtm = menuTop.nextElementSibling;
                    if (menuBtm && menuBtm.classList.contains('m_menu_btm')) {
                        if (menuBtm.style.height === '0px' || menuBtm.style.height === '') {
                            menuBtm.style.opacity = '1';
                            menuBtm.style.overflow = 'hidden';
                            // Set height to actual scrollHeight
                            menuBtm.style.height = menuBtm.scrollHeight + 'px';
                        } else {
                            menuBtm.style.opacity = '0';
                            menuBtm.style.height = '0';
                        }
                    }
                });
            });
        });




    </script>

</header>
