<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="title" content="자연에서 영감을 받아, 안전하고 건강한 식품을 제공하는 [농업회사법인 주식회사 산들정]">
    <meta name="keywords" content="산들정">
    <meta name="description" content="자연에서 영감을 받아, 안전하고 건강한 식품을 제공하는 [농업회사법인 주식회사 산들정]">

    <meta property="og:locale" content="ko_KR">
    <meta property="og:type" content="website">
    <meta property="og:title" content="산들정 공식 홈페이지 [농업회사법인 주식회사 산들정]">
    <meta property="og:description" content="자연에서 영감을 받아, 안전하고 건강한 식품을 제공하는 [농업회사법인 주식회사 산들정]">
    <meta property="og:url" content="https://sandeuljeong.com">
    <meta property="og:site_name" content="산들정">
    <meta property="og:image" content="/img/meta_image.png">

    <meta name="robots" content="noodp">
    <meta name="NaverBot" content="All">
    <meta name="NaverBot" content="index, follow">
    <meta name="Yeti" content="All">
    <meta name="Yeti" content="index, follow">
    <link rel="icon" type="image/png" href="" sizes="16x16">

    <!-- SEO 최적화 -->
    <meta name="title" content="자연에서 영감을 받아, 안전하고 건강한 식품을 제공하는 [농업회사법인 주식회사 산들정]" class="meta-title">
    <meta name="description" content="자연에서 영감을 받아, 안전하고 건강한 식품을 제공하는 [농업회사법인 주식회사 산들정]" class="meta-desc">
    <meta name="keywords" content="산들정">
    <meta name="apple-mobile-web-app-title" content="SANDEULJEONG">
    <link rel="image_src" href="https://sandeuljeong.com">
    <!-- SEO 최적화 -->

    <!-- SNS 공유 -->
    <meta property="og:site_name" content="산들정" class="meta-title">
    <meta property="og:title" content="자연에서 영감을 받아, 안전하고 건강한 식품을 제공하는 [농업회사법인 주식회사 산들정]" class="meta-title">
    <meta property="og:description" content="자연에서 영감을 받아, 안전하고 건강한 식품을 제공하는 [농업회사법인 주식회사 산들정]" class="meta-desc">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="KR">
    <meta property="og:url" content="https://sandeuljeong.com">
    <meta property="og:image" content="/public/img/meta.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <title>산들정</title>
    <meta name="naver-site-verification" content="55ebc3fd7742fa70d16c4ec339c804264f686f5a" />

    <link href="/public/css/common_css/nac_style.css" rel="stylesheet">
    <link href="/public/css/common_css/san_style.css" rel="stylesheet">

    <link href="https://fonts.cdnfonts.com/css/jost" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="/public/js/atlantis/main.js"></script>
</head>
<header id="header">
    <div class="main_header">
        <div class="left_div">
        </div>

        <a href="/"><span class="center_span">Sandeuljeong</span></a>

        <div class="right_div">
            <input type="checkbox" id="menu-icon">
            <label class="head_right" for="menu-icon">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>
    </div>

    <div class="side_menu">
        <a class="side_top" href="/dome">PARTNER</a>
        <a href="/shop">SHOP</a>
        <a href="/news">NEWS</a>
        <a href="/notice">NOTICE</a>
        <a href="/brand">BRAND</a>
    </div>

    <script>
        document.getElementById('menu-icon').addEventListener('change', function() {
            const sideMenu = document.querySelector('.side_menu');

            if (this.checked) {
                sideMenu.style.right = '0'; // menu-icon 체크 시 side_menu를 화면 안쪽으로 이동
            } else {
                sideMenu.style.right = '-400px'; // menu-icon 체크 해제 시 side_menu를 화면 밖으로 이동
            }
        });
    </script>

</header>
</html>