<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="/public/css/common_css/nac_style.css" rel="stylesheet">
    <link href="/public/css/common_css/san_style.css" rel="stylesheet">

    <link href="https://fonts.cdnfonts.com/css/jost" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="/public/js/atlantis/main.js"></script>
</head>
<header id="header">
    <div class="main_header">
        <div class="left_div">
        </div>

        <a href="/"><span class="center_span">Sandeuljeong</span></a>

        <div class="right_div">
            <input type="checkbox" id="menu-icon">
            <label class="head_right" for="menu-icon">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>
    </div>

    <div class="side_menu">
        <a class="side_top" href="/dome">DOME SHOP</a>
        <a href="/shop">SHOP</a>
        <a href="/news">NEWS</a>
        <a href="/notice">NOTICE</a>
        <a href="/brand">BRAND</a>
    </div>

    <script>
        document.getElementById('menu-icon').addEventListener('change', function() {
            const sideMenu = document.querySelector('.side_menu');

            if (this.checked) {
                sideMenu.style.right = '0'; // menu-icon 체크 시 side_menu를 화면 안쪽으로 이동
            } else {
                sideMenu.style.right = '-400px'; // menu-icon 체크 해제 시 side_menu를 화면 밖으로 이동
            }
        });
    </script>

</header>
</html>