/*section_01*/
.section_01 {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url("/public/img/web/brand/brand_sec01.png");
    background-size: cover;
}
.bg_img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bg_img_text {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.img_text_wrap {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.img_text_wrap .word_cont {
    display: flex;
    position: relative;
    overflow: hidden;
    overflow: clip;
    margin: 0 auto;
    align-items: flex-end;
}
.img_text_wrap .word_content .content_01 {
    margin-right: auto;
    margin-left: auto;
    width: 120rem;
}
.img_text_wrap .word_content .content_01 .here_content_middle {
    position: relative;
    z-index: 1;
    margin-bottom: 3.5rem;
    width: 100%;
    margin-left: 6rem;
}
.img_text_wrap .word_content .content_01 .here_content_middle .animate_img_txt {
    font-size: 4rem;
    color: white;
    font-weight: 600;
}
.img_text_wrap .word_content .content_01 .here_content_middle .animate_img_txt span {
    line-height: 1.4;
}
.img_text_wrap .word_content .content_01 .here_content_middle .animate_img_txt span .animate_wrapper {
    display: inline-block;
    overflow: clip;
    margin: -0.2em;
    padding: 0.1em;
    transform: translate3d(0px, 4.80737%, 0px);
    transition: all 1s cubic-bezier(0.16, 1.08, 0.38, 0.98);
}
.img_text_wrap .word_content .content_01 .here_content_middle .animate_img_txt span .animate_txt {
    margin-top: -1rem;
    display: block;
}
.img_text_wrap .word_content .content_01 .here_content_middle .animate_img_txt span {
    line-height: 1.4;
}
/*section_01*/

/*section_02*/
.section_02 {
    width: 100%;
    height: 999px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("/public/img/web/brand/brand_sec02.png");
    background-size: cover;
}
.brand_box_section02 {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.brand_intro_section02{
    position: relative;
    width: 50%;
    margin-left: 30px;
    padding: 30px;
}
.brand_text_wrap .word_content .content_02 .here_content_middle .animate_brand_txt .brand_hanbul_kr {
    font-size: 7.5rem;
    font-weight: 600;
}
.brand_text_wrap .word_content .content_02 .here_content_middle .animate_brand_txt .brand_hanbul_en {
    font-size: 4rem;
    font-weight: 150;
}
.brand_section02 {
    position: relative;
    color: black;
    text-decoration: none;
    /*margin-bottom: 5rem;*/
}
.brand_story {
    font-size: 1.7rem;
    font-weight: 300;
    width: 50%;
    letter-spacing: 2px;
    text-align: revert;
}
.brand_story_img{
    position: relative;
    width: 50%;
    /*margin-right: 30px;*/
    /*padding: 30px;*/
}
/*section_02*/

/*section_03*/
.section_03 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/public/img/web/brand/brand_sec03.png");
    background-size: cover;
}
.brand_text_section03 {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.brand_text_wrap {
    width: 100%;
    position: relative;
    justify-content: center;
    display: flex;
    text-align: center;
}
.brand_text_wrap .word_cont {
    display: flex;
    position: relative;
    overflow: hidden;
    overflow: clip;
    margin: 0 auto;
    align-items: flex-end;
}
.brand_text_wrap .word_content .content_03 {
    margin-right: auto;
    margin-left: auto;
    width: 130rem;
}
.brand_text_wrap .word_content .content_03 .here_content_middle {
    position: relative;
    z-index: 1;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    width: 100%;
}
.brand_text_wrap .word_content .content_03 .here_content_middle .animate_brand_txt {
    font-size: 4rem;
    color: #333;
    font-weight: 600;
}
.brand_text_wrap .word_content .content_03 .here_content_middle .animate_brand_txt span {
    line-height: 1.4;
}
.brand_text_wrap .word_content .content_03 .here_content_middle .animate_brand_txt span .animate_wrapper {
    display: inline-block;
    overflow: clip;
    margin: -0.2em;
    padding: 0.1em;
    transform: translate3d(0px, 4.80737%, 0px);
    transition: all 1s cubic-bezier(0.16, 1.08, 0.38, 0.98);
}
.brand_text_wrap .word_content .content_03 .here_content_middle .animate_brand_txt span .animate_txt {
    margin-top: -1rem;
    display: block;
}
.brand_text_wrap .word_content .content_03 .here_content_middle .animate_brand_txt span {
    line-height: 1.4;
}

.brand_box_section03 {
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    padding: 30px;
    min-height: 505px;
}

.brand_compet{
    position: relative;
    width: 60%;
    align-items: center;
    display: grid;
    margin-left: 30px;
    margin-right: 30px;
    border-top: 2px solid #333333;
    border-bottom: 2px solid #333333;
}

/*경쟁력 텍스트*/
.collapsible {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px 10px 12px;
    align-items: center;
    font-size: 2.2rem;
    color: #333;
    letter-spacing: normal;
    line-height: 1.6;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    background-color: white;
    border: 0;
}

.active,
.collapsible:hover {
    background: none;
}
.explan_05 {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    border-bottom: 0;
    transition: max-height 0.3s ease-out;
}
.explan p {
    align-items: center;
    font-size: 1.3rem;
    line-height: 1;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}
.collapsible:after {
    content: '\002B';
    transform: rotate(0deg); /* 초기 회전 각도 0도 */
    transition: transform 0.3s ease; /* 애니메이션 지속 시간과 속도 설정 */
    color: white;
    font-weight: normal;
    float: right;
    margin-left: 5px;
}
.collapsible.active:after {
    transform: rotate(135deg); /* 클릭 후 45도 회전하여 × 표시 */
}
/*section_03*/

/*section_04*/
.section_04 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/public/img/web/brand/brand_sec05.png");
    background-size: cover;
}
.brand_text_section04 {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.brand_text_wrap {
    width: 100%;
    position: relative;
    justify-content: center;
    display: flex;
    text-align: center;
}
.brand_text_wrap .word_cont {
    display: flex;
    position: relative;
    overflow: hidden;
    overflow: clip;
    margin: 0 auto;
    align-items: flex-end;
}
.brand_text_wrap .word_content .content_04 {
    margin-right: auto;
    margin-left: auto;
    width: 130rem;
}
.brand_text_wrap .word_content .content_04 .here_content_middle {
    position: relative;
    z-index: 1;
    width: 100%;
}
.brand_text_wrap .word_content .content_04 .here_content_middle .animate_brand_txt {
    font-size: 4rem;
    color: #000000;
    font-weight: 600;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100vw;
}
.brand_text_wrap .word_content .content_04 .here_content_middle .animate_brand_txt span {
    line-height: 1.4;
}
.brand_text_wrap .word_content .content_04 .here_content_middle .animate_brand_txt span .animate_wrapper {
    display: inline-block;
    overflow: clip;
    margin: -0.2em;
    padding: 0.1em;
    transform: translate3d(0px, 4.80737%, 0px);
    transition: all 1s cubic-bezier(0.16, 1.08, 0.38, 0.98);
}
.brand_text_wrap .word_content .content_04 .here_content_middle .animate_brand_txt span .animate_txt {
    margin-top: -1rem;
    display: block;
}
.brand_text_wrap .word_content .content_04 .here_content_middle .animate_brand_txt span {
    line-height: 1.4;
}
.brand_text_wrap .word_content .content_04 .here_content_middle .animate_brand_txt .brand_logo {
    font-size: 4rem;
    font-weight: 600;
}
.brand_box_section04 {
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
@media screen and (max-width: 1100px){
    .logo_color {height: 80px; margin-bottom: 20px;}
}
.logo_color {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
}
.brand_color_01 {
    width: 60px;
    height: 100%;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
}
.color_01 {
    width: 100%;
    height: 60px;
    background-color: #231915;
}
.color_num_01 {
    width: 100%;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    color: white;
}
.brand_color_01 {
    width: 60px;
    height: 100%;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
}
.color_02 {
    width: 100%;
    height: 60px;
    background-color: #c9171e;
}
.color_num_02 {
    width: 100%;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    color: white;
}

.brand_color_02 {
    width: 60px;
    height: 100%;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
}
.color_03 {
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
}
.color_num_03 {
    width: 100%;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    color: white;
}

.brand_color_03 {
    width: 60px;
    height: 100%;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
}
.logo_story_txt {
    font-size: 1.5rem;
    font-family: 'MICE', sans-serif; font-weight: normal;
    line-height: 1.5;
    text-align: right;
    color: white;
    flex-direction: column;
    padding-right: 100px;
}
.brand_logo_resource {
    width: 90vw;
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
}
.left_wrap_section04 {
    float: left;
}

.dwn_btn_box .dwn_btn_cont {
    max-width: 300px;
    min-width: 167px;
    width: 13vw;
    justify-content: space-between;
    border-bottom: 1px solid rgb(255 255 255 / 30%);
    padding-bottom: 15px;
    margin-bottom: 5.3vh;
    position: relative;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    font-size: 1.5rem;
    color: white;
}
.dwn_btn_box .dwn_btn_cont .dwn_btn_link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: right;
}
.dwn_btn_box .dwn_btn_cont .dwn_btn {
    max-height: 25px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}
.view-pc {
    display: block !important;
}
/*section_04*/

/*section_05*/
.section_05 {
    width: 100%;
    /*height: 500px;*/
    margin-top: 5rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(/public/img/web/brand/brand_sec06.png);
    background-size: cover;
}
.brand_text_section05 {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto 0 2rem;
}
.brand_text_wrap {
    width: 100%;
    position: relative;
    justify-content: center;
    display: flex;
    text-align: center;
}
.brand_text_wrap .word_cont {
    display: flex;
    position: relative;
    overflow: hidden;
    overflow: clip;
    margin: 0 auto;
    align-items: flex-start;
}
.brand_text_wrap .word_content .content_05 {
    margin-left: 5rem;
}
.brand_text_wrap .word_content .content_05 .here_content_middle {
    position: relative;
    z-index: 1;
    width: 100%;
}
.brand_text_wrap .word_content .content_05 .here_content_middle .animate_brand_txt {
    font-size: 4rem;
    color: #000000;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
}
.brand_text_wrap .word_content .content_05 .here_content_middle .animate_brand_txt span {
    line-height: 1.4;
}
.brand_text_wrap .word_content .content_05 .here_content_middle .animate_brand_txt span .animate_wrapper {
    display: inline-block;
    overflow: clip;
    margin: -0.2em;
    padding: 0.1em;
    transform: translate3d(0px, 4.80737%, 0px);
    transition: all 1s cubic-bezier(0.16, 1.08, 0.38, 0.98);
}
.brand_text_wrap .word_content .content_05 .here_content_middle .animate_brand_txt span .animate_txt {
    margin-top: -1rem;
    display: block;
}
.brand_text_wrap .word_content .content_05 .here_content_middle .animate_brand_txt span {
    line-height: 1.4;
}
.brand_text_wrap .word_content .content_05 .here_content_middle .animate_brand_txt .brand_logo {
    font-size: 2rem;
    font-weight: 600;
}
.brand_text_line {
    margin-left: 20px;
}
.line_section05 {
    width: 365px;
    border-top: 1px solid #333333;
    margin-left: 0;
}
.brand_box_section05 {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding-left: 220px;
    justify-content: center;
}
.history_box {
    justify-content: flex-start;
    display: flex;
}
@media screen and (max-width: 960px){
    .history_box {flex-direction: column; width: 100%; align-items: center;}
    .text {width: 100%!important;}
    .history {padding: 0!important; width: 100%; display: flex; justify-content: center; flex-direction: column;}
    .section_05 {padding: 0 20px;}
    .history_2 {padding-top: 0!important; width: 100%; padding-left: auto; padding-right: auto;}
}
.text {
    width: 40vw;
}

/*연혁*/
.history {
    margin-bottom:-5px;
    position:relative;
    padding:20px 0;
}
.history li {
    display:flex;
    margin-bottom:-13px;
    align-items: center;
}
.history li span {
    width:100px;
    font-family: 'MICE', sans-serif; font-weight: normal;
    color: white;
    padding-left:22px;
    font-size: 1.3rem;
}
.history li p {
    width: calc(100% - 100px);
    font-family: 'MICE', sans-serif; font-weight: normal;
    color: white;
    font-size: 1.3rem;
}
.history li p.year {
    font-size:2em;
    padding-bottom:10px;
    width:100%;
    font-family:Gowun Batang,sans-serif;
    font-family: 'MICE', sans-serif; font-weight: normal;
}
.history li p.year:before {
    content:'';
    width:10px;
    height:10px;
    background-color: white;
    border-radius:50%;
    display:inline-block;
    margin-right:10px;
    vertical-align:2px;
    position:Relative;
    z-index:99
}
.history_2 {
    margin-bottom:-5px;
    padding-top:81px;
}
.history_2 li {
    display:flex;
    margin-bottom:-13px;
    align-items: center;
}
.history_2 li span {
    width:100px;
    font-family: 'MICE', sans-serif; font-weight: normal;
    color: white;
    padding-left:22px;
    font-size: 1.3rem;
}
.history_2 li p {
    width: calc(100% - 100px);
    font-family: 'MICE', sans-serif; font-weight: normal;
    font-size: 1.3rem;
    color: white;
}

.right_wrap_section04 {float: right;}
/*section_05*/
.intro_video_web {width: 200vh; position: absolute; top: 50%; left: 50%; transform: translate3d(-50%, -50%, 0); max-width: none!important;}
@media screen and (max-width: 360px) {
    .brand_intro_section02 {width: 100%;}
}
@media screen and (max-height: 370px) {
    .intro_video_web {width: 400vh;}
}
@media screen and (max-height: 450px) {
    .intro_video_web {width: 300vh;}
}
@media screen and (max-width: 460px) {
    .brand_text_wrap .word_content .content_02 .here_content_middle .animate_brand_txt .brand_hanbul_kr {font-size: 2.5rem;}
    .brand_text_wrap .word_content .content_02 .here_content_middle .animate_brand_txt .brand_hanbul_en {font-size: 0.8rem;}
}
@media screen and (max-width: 550px) {
    .brand_text_wrap .word_content .content_02 .here_content_middle .animate_brand_txt .brand_hanbul_kr {font-size: 3.5rem;}
    .brand_text_wrap .word_content .content_02 .here_content_middle .animate_brand_txt .brand_hanbul_en {font-size: 1.2rem;}
    .brand_box_section02 .brand_story {font-size: 0.7rem;}
}
@media screen and (max-width: 680px) {
    .brand_text_wrap .word_content .content_02 .here_content_middle .animate_brand_txt .brand_hanbul_kr {font-size: 4.5rem;}
    .brand_text_wrap .word_content .content_02 .here_content_middle .animate_brand_txt .brand_hanbul_en {font-size: 1.5rem;}
    .brand_box_section02 .brand_story {font-size: 1rem;}
}
@media screen and (max-width: 840px) {
    .right_wrap_section04 {float: left;}
}
@media screen and (max-width: 900px) {
    .brand_text_wrap .word_content .content_02 .here_content_middle .animate_brand_txt .brand_hanbul_kr {font-size: 5.5rem;}
    .brand_text_wrap .word_content .content_02 .here_content_middle .animate_brand_txt .brand_hanbul_en {font-size: 2rem;}
    .brand_box_section02 .brand_story {font-size: 1.5rem;}
}
@media screen and (max-height: 970px) {
    .intro_video_web {width: 250vh;}
}
@media screen and (max-width: 1100px) {
    .brand_text_wrap .word_content .content_02 .here_content_middle .animate_brand_txt .brand_hanbul_kr {font-size: 6.5rem;}
    .brand_text_wrap .word_content .content_02 .here_content_middle .animate_brand_txt .brand_hanbul_en {font-size: 3rem;}
}
@media screen and (max-width: 1850px) {
    .brand_box_section02 {justify-content: center; align-items: center; flex-direction: column;}
    .brand_box_section02 .brand_story {width: 100%; text-align: center; margin-bottom: 30px;}
    .brand_intro_section02 {width: 80%;}
    .brand_story_img {width: 75%;}
}


/* This is + table css */
.brand_compet{
    position: relative;
    width: 50%;
    align-items: center;
    display: grid;
    margin-left: 30px;
    margin-right: 30px;
    border-top: 3px solid #9f7f68;
    border-bottom: 3px solid #9f7f68;
}
.compet_img {width: 40%;}
.collapsible {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px 10px 12px;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 700;
    color: #e0bfaa;
    letter-spacing: normal;
    line-height: 1.6;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    background: none;
    border: 0;
}
.explan {
    padding-left: 18px;
    max-height: 0;
    overflow: hidden;
    border-bottom: 2px solid rgba(159, 127, 104, 0.5);
    transition: max-height 0.3s ease-out;
}
.explan_ex {
    align-items: center;
    font-size: 1rem;
    line-height: 1;
    font-weight: 600;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    justify-content: right;
}
.explan p {
    align-items: center;
    font-size: 1rem;
    line-height: 1;
    font-family: 'MICE', sans-serif; font-weight: normal;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
}
.explan_04 {
    max-height: 0;
    overflow: hidden;
    border-bottom: none;
    transition: max-height 0.3s ease-out;
}
.explan_04 p {
    align-items: center;
    font-size: 1rem;
    line-height: 1;
    font-family: 'MICE', sans-serif; font-weight: normal;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
    margin-left: 18px;
}

.main_big_span {width: 100%; text-align: center; font-size: 4rem; color: white; font-family: 'MICE', sans-serif; font-weight: normal;}
.txt_center {text-align: center;}

@media screen and (max-width: 500px){
    .main_big_span {font-size: 1.5rem!important;}
}
@media screen and (max-width: 600px){
    .container .section_03 .main_big_span {font-size: 2rem;}
}
@media screen and (max-width: 700px){
    .section_03 .main_big_span {font-size: 2.5rem;}
}
@media screen and (max-width: 800px){
    .main_big_span {font-size: 3rem; margin-bottom: 0;}
}
@media screen and (max-width: 1000px){
    .main_big_span {text-align: center; padding: 0;}
}
@media  screen and (max-width: 1140px) {
    .brand_box_section04 .brand_compet {width: 100%; margin-top: 1rem;}
}
@media screen and (max-width: 1250px){
    .brand_compet .explan p {font-size: 1.1rem;}
}
@media screen and (max-width: 1330px){
    .brand_compet .explan p {font-size: 0.74rem; line-height: 1.5;}
}
@media screen and (max-width: 1570px){
    .section_03 .brand_box_section03 {flex-direction: column;}
    .brand_compet {width: 100%;}
    .compet_img {width: 100%;}
    .section_05 {margin-top: 0;}
}

/* top span */

.bg_video {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bg_video_text {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.video_text_wrap {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
.video_text_wrap .word_cont {
    display: flex;
    position: relative;
    overflow: hidden;
    overflow: clip;
    margin: 0 auto;
    align-items: flex-end;
}
.video_text_wrap .word_content .content {
    margin-right: auto;
    margin-left: auto;
    width: 120rem;
}
.here_content {
    position: relative;
    z-index: 1;
    margin-bottom: 3.5rem;
    width: 100%;
    margin-left: 6rem;
}
.animate_video_txt {
    font-size: 4rem;
    color: white;
    font-weight: 600;
}

@media screen and (max-width: 850px) {
    .here_content .animate_video_txt {font-size: 3rem;}
}
@media screen and (max-width: 655px) {
    .here_content .animate_video_txt {font-size: 2.5rem;}
}
@media screen and (max-width: 570px) {
    .here_content .animate_video_txt {font-size: 2rem;}
}
@media screen and (max-width: 505px) {
    .here_content {margin-left: 3rem;}
}
@media screen and (max-width: 400px) {
    .here_content {margin-left: 1rem;}
}
@media screen and (max-width: 370px) {
    .here_content .animate_video_txt {font-size: 1.5rem;}
}
.video_text_wrap .word_content .content .here_content .animate_video_txt span {
    line-height: 1.4;
}
.video_text_wrap .word_content .content .here_content .animate_video_txt span .animate_wrapper {
    display: inline-block;
    overflow: clip;
    margin: -0.2em;
    padding: 0.1em;
    transform: translate3d(0px, 4.80737%, 0px);
    transition: all 1s cubic-bezier(0.16, 1.08, 0.38, 0.98);
}
.video_text_wrap .word_content .content .here_content .animate_video_txt span .animate_txt {
    margin-top: -0.5rem;
    display: block;
}
.video_text_wrap .word_content .content .here_content .animate_video_txt span {
    line-height: 1.4;
}

.sec_add_div {display: flex; flex-direction: column;}
.sec_add_title {color: white; font-size: 4rem; margin: 30px 0; font-family: 'MICE', sans-serif; font-weight: normal;}
.sec_add_div .sec_add_span {
    color: #9f7f68;
    font-size: 1.3rem;
    font-family: 'MICE', sans-serif;
    font-weight: normal;
    margin-top: 1rem;
}
.mgbt40 {margin-bottom: 60px;}
.swiper-slide .main_slide_img {width: 455px; height: 330px;}
.mgbt_sec_add {margin-bottom: 10px;}

.brand_sec_02_name {width: 100%; display: flex; justify-content: flex-end; align-items: flex-end; margin-top: 1rem;}
.brand_sec_02_name span {color: white; font-weight: bold;}
.brand_sec_02_name .owner {font-size: 2rem; padding-bottom: 10px; font-family: 'MICE', sans-serif; font-weight: normal;}
.brand_sec_02_name .owner_name {font-size: 3rem; margin-left: 40px; margin-right: 170px; font-family: 'MICE', sans-serif; font-weight: normal;}

.main_brand_intro_section04{
    position: relative;
    width: 50%;
    margin-right: 30px;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}
#brand .brand_sec_paper .main_big_span {margin-top: 110px; font-family: 'MICE', sans-serif; font-weight: normal;}

@media  screen and (max-width: 1140px) {
    .brand_box_section04 {flex-direction: column-reverse; align-items: center;}
    .main_brand_intro_section04 {width: 100%;}
    .brand_compet {width: 100%; margin-top: 50px;}
}

.brand_sec_paper {background-image: url("/public/img/web/brand/brand_sec04.png"); width: 100%; height: 3100px;
                  display: flex; flex-direction: column; align-items: center; margin-top: 4rem; background-size: cover;}
.brand_sec_paper .sec_add_title {
    color: #d1af99;
    font-size: 3rem;
    font-weight: 600;
}
.paper_lmargin {margin-left: 700px;}
.paper_rmargin {margin-right: 690px;}
.logo_story {width: 80%; display: flex; justify-content: end;}
.sec4_logo {width: 100%;
    text-align: right;
    font-size: 4rem;
    color: white;
    padding-right: 130px;
    font-weight: 600;}
.mgn_Btm {margin-bottom: 100px; margin-top: 160px;}
.sec2_add_div {padding-left: 200px; padding-top: 210px;}

.mobile_back {position: absolute; width: 100%; height: auto; z-index: 1; margin-bottom: 58rem; display: none;}

#brand .mobile_brand_paper {display: none; justify-content: center; flex-direction: column; width: 100%;}
#brand .mobile_brand_paper img {width: 100%; margin: 50px 0; padding: 30px;}
#brand .mobile_brand_paper div {display: flex; flex-direction: column;}
#brand .mobile_paper_title {color: rgb(193, 159, 139); font-size: 2.5rem; text-align: center; font-weight: bold; margin-bottom: 30px;}
#brand .mobile_paper_span {color: #9f7f68; font-size: 1.2rem; font-weight: 600; margin-top: 5px; text-align: center;}
#brand .m_mgn_btm {margin-bottom: 20px;}

@media screen and (max-width: 800px) {
    #brand .mobile_brand_paper {display: flex;}
    #brand .brand_sec_paper .main_big_span {margin-top: 40px;}
    .mobile_back {display: flex;}
    .sec_add_div, .brand_sec_02_name, .main_big_span, .brand_box_section04, .main_big_span, .sec4_logo, .brand_box_section04, .mobile_back_04, .brand_logo_resource, .brand_box_section05 {z-index: 9999;}
    #brand {overflow-x: hidden;}
    #brand .sec_add_div, #brand .brand_sec_02_name, #brand .main_big_span, #brand .brand_box_section04 {z-index: 9999;}
    .brand_sec_02_name {display: none;}
    .section_02, .section_03, .section_04, .section_05, .brand_sec_paper {height: auto; background-image: none;}
    .section_01 {height: 100vh; background-image: none;}
    .section_05 {padding: 0; margin-top: 4rem;}
    .section_03 {
        margin-top: 2rem;
    }
    .section_02 .sec_add_div {padding: 40px 15px; padding-top: 150px;}
    .brand_sec_paper .sec_add_div {display: none;}
    body .container .brand_sec_paper .sec_add_div .sec_add_title {color: rgb(193, 159, 139); font-size: 1.2rem; text-align: center; font-weight: bold;}
    body .container .sec_add_div .sec_add_span {font-size: 1.7rem; letter-spacing: -2px; margin-top: 0rem; }
    .section_02 .sec_add_div .sec_add_title {text-align: left; font-size: 4rem;}
    .mgbt_sec_add {margin-bottom: 10px;}
    .mgbt40 {margin-bottom: 40px;}
    .brand_sec_paper .main_big_span {font-size: 1.6rem!important;}
    .paper_lmargin {margin: 0;}
    .paper_rmargin {margin: 0;}
    body .container .brand_sec_paper .mobile_1 {padding-top: 620px!important;}
    .brand_sec_paper .sec_add_span {text-align: center; }
    .sec4_logo {padding-right: 20px; font-size: 1.6rem; margin-top: 5rem;}
    .brand_box_section04 {padding: 10px; flex-direction: column; margin-top: 3rem;}
    .brand_box_section04 .logo_color {margin-left: 0; width: 100%; display: flex; align-items: flex-start;}
    .logo_color .brand_color_01 {margin-left: 10px;}
    .logo_color .brand_color_03 {margin-right: auto;}
    .brand_box_section04 .logo_story {width: 100%;}
    .brand_box_section04 .logo_story_txt {font-size: 0.8rem; text-align: left; width: 100%; padding: 0; }
    .brand_box_section05 {padding-left: 10px;}
    .history li span {font-size: 1rem; width: 70px;}
    .history li p {font-size: 1rem;}
    .history_2 li span {font-size: 1rem; width: 70px;}
    .history_2 li p {font-size: 1rem;}
    *+p {margin-top: 0;}
    .section_03 .mgn_Btm {margin-bottom: -40px; margin-top: 40px;}
    .main_brand_intro_section04 {margin-top: 3rem; border-radius: 10px;}
    .footer {border-top: 1px solid white;}
    .brand_sec_paper {background-color: rgb(52,33,29); padding-bottom: 50px;}
    .section_02 .mobile_back {top: 750px;}
    .collapsible {
        font-size: 1.1rem;
    }
    .explan {
        padding-left: 15px;
        padding-right: 10px;
    }
    .explan_04 p {
        font-size: 0.74rem;
        line-height: 1.5;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .explan_ex {
        margin-right: 0;
    }
    .main_big_span {
        margin: 0;
    }
    .mgbt40 {
        margin-bottom: 1rem;
    }
    .dwn_btn_box {
        float: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
    }
    .dwn_btn_tit {
        font-size: 1.2rem;
    }
    .dwn_btn_box .dwn_btn_cont .dwn_btn {
        margin-right: 1rem;
    }
    .history {
        margin-bottom: 0;
    }
    .history li {
        margin-bottom: 0;
        align-items: flex-start;
    }
    .history_2 li {
        margin-bottom: 0;
        align-items: flex-start;
    }
    .history li p.year {
        font-size: 1.5rem;
        font-weight: 600;
    }

    /*.right_wrap_section04 {float: none;}*/
}
@media screen and (max-width: 735px) {
    body .container .sec_add_div .sec_add_span {font-size: 1.5rem;}
    .section_02 .sec_add_div .sec_add_title {font-size: 3rem;}
}
@media screen and (max-width: 600px) {
    #brand .mobile_paper_title {font-size: 2rem;}
    #brand .mobile_paper_span {font-size: 1rem;}
}
@media screen and (max-width: 500px) {
    #brand .mobile_paper_title {font-size: 1.5rem;}
    #brand .mobile_paper_span {font-size: 0.8rem;}
}
@media screen and (max-width: 500px) {
    #brand .mobile_brand_paper {display: flex;}
    #brand .brand_sec_paper .main_big_span {margin-top: 40px;}
    .mobile_back {display: flex;}
    .sec_add_div, .brand_sec_02_name, .main_big_span, .brand_box_section04, .main_big_span, .sec4_logo, .brand_box_section04, .mobile_back_04, .brand_logo_resource, .brand_box_section05 {z-index: 9999;}
    #brand {overflow-x: hidden;}
    #brand .sec_add_div, #brand .brand_sec_02_name, #brand .main_big_span, #brand .brand_box_section04 {z-index: 9999;}
    .brand_sec_02_name {display: none;}
    .section_02, .section_03, .section_04, .section_05, .brand_sec_paper {height: auto; background-image: none;}
    .section_01 {height: 100vh; background-image: none;}
    .section_05 {padding: 0; margin-top: 4rem;}
    .section_03 {
        margin-top: 2rem;
    }
    .section_02 .sec_add_div {padding: 40px 15px; padding-top: 150px;}
    .brand_sec_paper .sec_add_div {display: none;}
    .section_02 .sec_add_div .sec_add_title {text-align: left; font-size: 3rem;}
    body .container .brand_sec_paper .sec_add_div .sec_add_title {color: rgb(193, 159, 139); font-size: 1.2rem; text-align: center; font-weight: bold;}
    body .container .sec_add_div .sec_add_span {font-size: 0.9rem; letter-spacing: -2px; margin-top: 0rem; }
    .mgbt_sec_add {margin-bottom: 10px;}
    .mgbt40 {margin-bottom: 40px;}
    .brand_sec_paper .main_big_span {font-size: 1.6rem!important;}
    .paper_lmargin {margin: 0;}
    .paper_rmargin {margin: 0;}
    body .container .brand_sec_paper .mobile_1 {padding-top: 620px!important;}
    .brand_sec_paper .sec_add_span {text-align: center; }
    .sec4_logo {padding-right: 20px; font-size: 1.6rem; margin-top: 5rem;}
    .brand_box_section04 {padding: 10px; flex-direction: column; margin-top: 3rem;}
    .brand_box_section04 .logo_color {margin-left: 0; width: 100%; display: flex; align-items: flex-start;}
    .logo_color .brand_color_01 {margin-left: 10px;}
    .logo_color .brand_color_03 {margin-right: auto;}
    .brand_box_section04 .logo_story {width: 100%;}
    .brand_box_section04 .logo_story_txt {font-size: 0.8rem; text-align: left; width: 100%; padding: 0; }
    .brand_box_section05 {padding-left: 10px;}
    .history li span {font-size: 1rem; width: 70px;}
    .history li p {font-size: 1rem;}
    .history_2 li span {font-size: 1rem; width: 70px;}
    .history_2 li p {font-size: 1rem;}
    *+p {margin-top: 0;}
    .section_03 .mgn_Btm {margin-bottom: -40px; margin-top: 40px;}
    .main_brand_intro_section04 {margin-top: 3rem; border-radius: 10px;}
    .footer {border-top: 1px solid white;}
    .brand_sec_paper {background-color: rgb(52,33,29); padding-bottom: 50px;}
    .section_02 .mobile_back {top: 750px;}
    .collapsible {
        font-size: 0.84rem;
    }
    .explan {
        padding-left: 10px;
        padding-right: 10px;
    }
    .explan_04 p {
        padding-left: 10px;
        padding-right: 10px;
        line-height: 1.5;
        margin-left: 0;
    }
    .explan_ex {
        margin-right: 0;
    }
    .main_big_span {
        margin: 0;
    }
    .mgbt40 {
        margin-bottom: 1rem;
    }
    .dwn_btn_box {
        float: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
    }
    .dwn_btn_tit {
        font-size: 1rem;
        font-weight: 600;
    }
    .dwn_btn_box .dwn_btn_cont .dwn_btn {
        margin-right: 1rem;
    }
    .history {
        margin-bottom: 0;
    }
    .history li {
        margin-bottom: 0;
        align-items: flex-start;
    }
    .history_2 li {
        margin-bottom: 0;
        align-items: flex-start;
    }
    .history li p.year {
        font-size: 1.5rem;
        font-weight: 600;
    }

    /*.right_wrap_section04 {float: none;}*/
}
@media screen and (max-width: 400px) {
    #brand .mobile_paper_span {font-size: 0.7rem;}
}

@media screen and (max-width: 390px) {
    /*.history li p {font-size: }*/
}
@media screen and (max-width: 370px) {
    .dwn_btn_box {flex-direction: column;}
}
@media screen and (max-width: 340px) {
    #brand .mobile_paper_title {font-size: 1.3rem;}
    #brand .mobile_paper_span {font-size: 0.6rem;}
}