/*section_01*/
.bg_img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.bg_img_text {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.img_text_wrap {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.img_text_wrap .word_cont {
    display: flex;
    position: relative;
    overflow: hidden;
    overflow: clip;
    margin: 0 auto;
    align-items: flex-end;
}
.img_text_wrap .word_content .content_01 {
    margin-right: auto;
    margin-left: auto;
    width: 120rem;
}
.img_text_wrap .word_content .content_01 .here_content {
    position: relative;
    z-index: 1;
    margin-bottom: 3.5rem;
    width: 100%;
    margin-left: 6rem;
}
.img_text_wrap .word_content .content_01 .here_content .animate_img_txt {
    font-size: 4rem;
    color: white;
    font-weight: 600;
}
.img_text_wrap .word_content .content_01 .here_content .animate_img_txt span {
    line-height: 1.4;
}
.img_text_wrap .word_content .content_01 .here_content .animate_img_txt span .animate_wrapper {
    display: inline-block;
    overflow: clip;
    margin: -0.2em;
    padding: 0.1em;
    transform: translate3d(0px, 4.80737%, 0px);
    transition: all 1s cubic-bezier(0.16, 1.08, 0.38, 0.98);
}
.img_text_wrap .word_content .content_01 .here_content .animate_img_txt span .animate_txt {
    margin-top: -1rem;
    display: block;
}
.img_text_wrap .word_content .content_01 .here_content .animate_img_txt span {
    line-height: 1.4;
}
/*section_01*/

/*section_02*/
.section_02 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brand_box_section02 {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.brand_contact_01{
    position: relative;
    width: 50%;
    margin-left: 30px;
    padding: 30px;
}
.brand_contact_02{
    position: relative;
    width: 50%;
    margin-right: 30px;
    padding: 30px;
}
.brand_map_txt {
    font-size: 3rem;
    color: white;
    font-family: 'MICE', sans-serif; font-weight: normal;
    border-bottom: 4px solid #ffffff;
    padding-bottom: 10px;
}
.brand_map_img {
    margin-top: 3rem;
}
/*section_02*/

/*section_03*/
.section_03 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.brand_box_section03 {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}
.brand_contact_03{
    position: relative;
    width: 50%;
    margin-left: 3.5rem;
    margin-right: 5.5rem;

}
.brand_contact_04{
    position: relative;
    width: 50%;
    margin-left: 3.5rem;
    margin-right: 5.5rem;
}
.brand_contact_03_line {
    border-bottom: 2px solid #ffffff;
}
.brand_map_txt_01 {
    font-size: 2.5rem;
    color: white;
    font-family: 'MICE', sans-serif; font-weight: normal;
    padding-bottom: 10px;
}
.brand_map_img {
    margin-top: 3rem;
}
.brand_inform_box_01 {
    font-size: 1rem;
    color: white;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 2;
    margin-bottom: 3rem;
}
/*section_03*/

/*.mobile_contact {display: none;}*/
    .mobile_contact {display: none;}
    #contact .section_01 {overflow: hidden; margin-bottom: 50px;}

@media screen and (max-width: 800px) {
    .mobile_contact {display: flex; flex-direction: column; align-items: center; justify-content: center;}
    .mobile_contact .brand_contact_01, .mobile_contact .brand_contact_02 {margin: 0; display: flex; flex-direction: column; align-items: center; padding: 0; width: 100%;}
    .mobile_contact .brand_contact_03, .mobile_contact .brand_contact_04 {margin: 0; display: flex; flex-direction: column; align-items: center; width: 100%;}
    .mobile_contact .brand_inform_box_01 {font-size: 1.3rem; width: 100%; line-height: normal; display: flex; flex-direction: column; align-items: center;}
    .mobile_contact .brand_contact_03_line {margin-top: 30px;}
    #contact .section_02, #contact .section_03 {display: none;}
}

@media screen and (max-width: 500px) {
    .brand_map_img {
        margin-top: 1rem;
    }

    .brand_map_txt {
        font-size: 1.6rem;
        padding: 0;
        margin-bottom: 1rem;
    }
    .mobile_contact .brand_inform_box_01 {
        font-size: 1.2rem;
        width: 100%;
         display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        font-weight: 500;
    }
    .brand_map_txt_01 {
        font-size: 1.6rem;
        color: white;
        font-weight: 600;
        padding-bottom: 10px;
    }

}

.m_top .phone {padding: 20px 0;}