@charset "euc-kr";


/* Header */

* {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,'Gowun Batang','Oswald', 'Oswald','Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
'Noto Sans JP', sans-serif;
}
body{
    overflow-x: hidden;
    background-color: #211111;
}

header#header {
    position:fixed;
    z-index:99999999;
    width:100%;
    top:0;
    padding:0;
    margin:0 auto;
    box-sizing:border-box;
}
#header.active nav .logo,#header.active nav ul {
    transition:.35s;
}
#header_in {
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-top:15px;
    margin-bottom:15px;
    height:50px
}
header#header h1 {
    text-align:left;
    display:flex;
    align-items:center;
    width:200px;
    line-height:0
}
header#header h1 img {
    width: 65px;
    max-width: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin-left: 30px;
    position: fixed;
    z-index: 99;
}
header#header div.right_div {
    width:200px;
    position:relative;
    display:flex;
    justify-content:flex-end;
    align-items:Center;
    line-height:0;
    margin-right:50px;
    margin-top: 50px;
}
header#header div.right_div h2 img {
    width:30px;
    max-width:100%;
    margin-left:10px;
}
header#header div.right_div h3 img {
    width:34px;
    height:30px;
    max-width:100%;
    margin-left:10px;
    margin-top: 6px;
}
/*메인페이지 메뉴아이콘*/
header#header div.right_div input[id="menu-icon"] {
    display:none;
}
header#header div.right_div input[id="menu-icon"]+label {
    margin-left:20px;
    display:block;
    width:30px;
    height:25px;
    position:relative;
    cursor:pointer;
}
header#header div.right_div input[id="menu-icon"]+label span {
    display:block;
    position:absolute;
    width:100%;
    height:3px;
    border-radius:30px;
    background:#ffffff;
    transition:all .35s;
}
header#header div.right_div input[id="menu-icon"]+label span:nth-child(1) {
    top:0;
}
header#header div.right_div input[id="menu-icon"]+label span:nth-child(2) {
    top:50%;
    transform:translateY(-50%);
}
header#header div.right_div input[id="menu-icon"]+label span:nth-child(3) {
    bottom:0;
}
header#header div.right_div input[id="menu-icon"]:checked+label span:nth-child(1) {
    top:50%;
    transform:translateY(-50%) rotate(45deg);
    z-index:2;
}
header#header div.right_div input[id="menu-icon"]:checked+label span:nth-child(2) {
    opacity:0;
    z-index:2;
}
header#header div.right_div input[id="menu-icon"]:checked+label span:nth-child(3) {
    bottom:50%;
    transform:translateY(50%) rotate(-45deg);
    z-index: 2;
}
/*메인페이지 메뉴아이콘*/
header#header div.right_div .side-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 뷰포트 높이의 100% */
}

header#header div.right_div .side-bar .navi_link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 7rem;
}

header#header div.right_div .side-bar .navi_link a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

header#header div.right_div .side-bar .side-link {
    margin-top:60px;
    padding:65px;
    width: 90%;
    display: flex;
    justify-content: center;
    margin-right: 7rem;
}

/*header#header div.right_div .side-bar .side-link a  {*/
/*    position: relative;*/
/*    color: #ffffff;*/
/*    text-decoration: none;*/
/*}*/

/*header#header div.right_div .side-bar .side-link a::before  {*/
/*    content: "";*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 2px;*/
/*    bottom: -3px;*/
/*    left: 0;*/
/*    background-color: white;*/
/*    transform: scaleX(0);*/
/*    transform-origin: center;*/
/*    transition: transform 0.3s ease-in-out;*/
/*}*/

/*header#header div.right_div .side-bar .side-link a:hover::before {*/
/*    transform: scaleX(1);*/
/*}*/

.navi_link {
    list-style: none;
    padding: 0;
}

.navi_txt {
    position: relative;
    display: inline-block;
    padding-top: 1rem;
    /*width: 230px;*/
    overflow: hidden;
}
.sub_navi {
    display: block;
    opacity: 0; /* 초기에 투명도를 0으로 설정 */
    max-height: 10px; /* 초기에 최대 높이를 0으로 설정 */
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out; /* 애니메이션 설정 */
}

.navi_txt:hover .sub_navi {
    opacity: 1;
    max-height: 400px; /* 펼쳐진 상태에서의 최대 높이 설정 */
}
.brand {
    position: relative;
    color: black;
    text-decoration: none;
}
.brand::before {
    content: "";
    position: absolute;
    width: 26%;
    /* margin-top: 60px; */
    margin-left: 15px;
    height: 5px;
    bottom: -30px;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

.brand:hover::before {
    transform: scaleX(1);
}

.store {
    position: relative;
    color: black;
    text-decoration: none;
}

.store::before {
    content: "";
    position: absolute;
    width: 40%;
    /* margin-top: 60px; */
    margin-left: 13px;
    height: 5px;
    bottom: -30px;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

.store:hover::before {
    transform: scaleX(1);
}

.review {
    position: relative;
    color: black;
    text-decoration: none;
}

.review::before {
    content: "";
    position: absolute;
    width: 55%;
    /* margin-top: 60px; */
    margin-left: 13px;
    height: 5px;
    bottom: -30px;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

.review:hover::before {
    transform: scaleX(1);
}

.notice {
    position: relative;
    color: black;
    text-decoration: none;
}

.notice::before {
    content: "";
    position: absolute;
    width: 54%;
    /* margin-top: 60px; */
    margin-left: 15px;
    height: 5px;
    bottom: -30px;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

.notice:hover::before {
    transform: scaleX(1);
}


header#header div.right_div .side-bar .side-link > ul li .num {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    vertical-align: top;
    margin-right: 7px;
}

header#header div.right_div .side-bar .side-link > ul li .sub_navi > ul {
    margin-left: 2rem;
    display: flex;
    flex-direction: initial;
    position: initial;
    width: 400px;
    text-align: left;
    margin-top: -0.5rem;
    margin-bottom: -0.2rem;
}

header#header div.right_div .side-bar .side-link > ul li .sub_navi > ul li{
    margin-right: -300px;
}

header#header div.right_div .side-bar .side-link > ul li .sub_navi > ul li a {
    color: #696969;
    font-weight: 700;
    vertical-align: top;
    margin-right: 7px;
    font-size: 1.2rem;
}

header#header div.right_div .side-bar .side-link > ul li .sub_navi > ul li a:hover {
    color: #ffffff;
    transition: color 0.5s ease-in-out;
}

header#header div.right_div .side-bar .side-link a {
    display:inline-block;
    vertical-align:middle;
    color:#fff;
    width:400px;
    margin-bottom:70px;
    z-index:2;
    line-height:2px;
    font-family:Ubuntu,sans-serif;
    font-weight:600;
    font-size: 3.5rem;
}
header#header div.right_div .side-bar .side-link a h4 {
    font-weight: 400;
}
/*슬라이드메뉴*/
header#header div.right_div .side-bar[class="side-bar"] {
    width:100vw;
    height:100vh;
    background-color:rgb(0 0 0 / 80%);
    position:fixed;
    top:0;
    right:100vw;
    z-index:1;
    transition:all .80s;
}
header#header div.right_div input[id="menu-icon"]:checked+label+div {
    right: 0;
}
/*슬라이드메뉴*/
/* CSS */
#header .mobile_side_bar {display: none; width: 100vw; height: 100vh; position: absolute; top: 0; right: 100vw; transition: 0.5s ease-in-out;}
#header .m_side_back {width: 100%; height: 100%; background-color: rgba(0,0,0,0.7);}
#header .m_side_in {display: flex; flex-direction: column; padding: 150px 50px; justify-content: center; align-items: center;}
#header .m_menu_top {display: flex; align-items: start; width: 100%;}
#header .m_menu_top a {display: flex; align-items: start; width: 100%;}
#header .m_menu_btm {display: flex; width: 70%; justify-content: space-around; opacity: 0; height: 0; overflow: hidden; transition: opacity 0.5s, height 0.5s;}
#header .m_menu_btm a {color: white; font-size: 1rem; opacity: 70%; font-family: 'MICE', sans-serif; font-weight: normal;}
#header .m_menu_front {font-size: 1rem; font-weight: bold; color: white; margin-right: 10px;}
#header .m_menu_back {font-size: 3.5rem; font-family: 'MICE', sans-serif; font-weight: normal; color: white;}





@media screen and (max-width:900px) {
    header#header {
        position:fixed;
        z-index:99999999;
        width:100%;
        top:0;
        padding:0;
        margin:0 auto;
        box-sizing:border-box;
    }
    #header.active nav .logo,#header.active nav ul {
        transition:.35s;
    }
    #header_in {
        width:100%;
        display:flex;
        align-items:center;
        justify-content:space-between;
        margin-top:15px;
        margin-bottom:15px;
        height:30px
    }
    header#header h1 {
        text-align:left;
        display:flex;
        align-items:center;
        width:200px;
        line-height:0
    }
    header#header h1 img {
        width: 50px;
        margin-top: 1rem;
        max-width: 100%;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        margin-left: 10px;
        position: fixed;
        z-index: 99;
    }
    header#header div.right_div {
        width:200px;
        position:relative;
        display:flex;
        justify-content:flex-end;
        align-items:Center;
        line-height:0;
        margin-top: 50px;
        margin-right: 15px;
        z-index: 9999;
    }
    header#header div.right_div h2 img {
        width:30px;
        max-width:100%;
        margin-left:10px;
    }
    header#header div.right_div h3 img {
        width:34px;
        height:30px;
        max-width:100%;
        margin-left:10px;
        margin-top: 6px;
    }
    /*메인페이지 메뉴아이콘*/
    header#header div.right_div input[id="menu-icon"] {
        display:none;
    }
    header#header div.right_div input[id="menu-icon"]+label {
        margin-left: 20px;
        display: block;
        width: 20px;
        height: 16px;
        position: relative;
        cursor: pointer;
    }
    header#header div.right_div input[id="menu-icon"]+label span {
        display:block;
        position:absolute;
        width:100%;
        height:3px;
        border-radius:30px;
        background:#ffffff;
        transition:all .35s;
    }
    header#header div.right_div input[id="menu-icon"]+label span:nth-child(1) {
        top:0;
    }
    header#header div.right_div input[id="menu-icon"]+label span:nth-child(2) {
        top:50%;
        transform:translateY(-50%);
    }
    header#header div.right_div input[id="menu-icon"]+label span:nth-child(3) {
        bottom:0;
    }
    header#header div.right_div input[id="menu-icon"]:checked+label span:nth-child(1) {
        top:50%;
        transform:translateY(-50%) rotate(45deg);
        z-index:2;
    }
    header#header div.right_div input[id="menu-icon"]:checked+label span:nth-child(2) {
        opacity:0;
        z-index:2;
    }
    header#header div.right_div input[id="menu-icon"]:checked+label span:nth-child(3) {
        bottom:50%;
        transform:translateY(50%) rotate(-45deg);
        z-index: 2;
    }
    /*메인페이지 메뉴아이콘*/
}

@media screen and (max-width: 800px){
    #header .side-bar {display: none!important;}
    #header .mobile_side_bar {display: flex;}
}
@media screen and (max-width: 400px) {
    #header .m_menu_back {font-size: 3rem;}
}
@media screen and (max-width: 325px) {
    #header .m_menu_back {font-size: 2.5rem;}
    #header .m_menu_btm a {font-size: 0.7rem;}
}
@media screen and (max-width: 300px) {
    #header .m_menu_back {font-size: 2.2rem;}
    #header .m_menu_btm a {font-size: 0.6rem;}
}




