<%- include('../../manage/include/header.ejs') %>
<%-include('../../manage/include/summernoteHead.ejs')%>
<style>
    .gallery_section_mainpage .editor_form {
        margin: 25px 0 0 25px;
    }
    .gallery_section_mainpage .editor_form div iframe{
        border: none;
    }
</style>
<body>

<section class="gallery_section_mainpage">
    <fieldset>
        <div class="notice_list_top">
            <p1>상품등록</p1>
            <p2>Home &gt; 상품등록 &gt; 글쓰기</p2>
        </div>

        <form method="post" action="/writeShop">
            <table class="edit-table">
                <tr>
                    <td class="edit-front-td">상품 명 :</td>
                    <td><input type="text" name="title" class="edit-title"></td>
                </tr>

                <tr>
                    <td class="edit-front-td">가격 :</td>
                    <td><input type="text" name="subtitle" class="edit-title"></td>
                </tr>

                <tr>
                    <td class="edit-front-td">스토어 링크 :</td>
                    <td><input type="text" name="link" class="edit-title"> &nbsp; ※ 1대1비율의 이미지를 사용해주세요</td>
                </tr>

                <tr>
                    <td class="edit-front-td">내용 :</td>
                    <td>
                        <textarea id="summernote" name="memo"></textarea>
                    </td>
                </tr>
            </table>
            <div class="edit-button-div">
                <button class="edit-button">
                    등록
                </button>
                &nbsp;
                <input type="button" src="/m-shop" class="edit-button" value="리스트">
            </div>
        </form>

    </fieldset>
</section>

<script>
    $(document).ready(function() {
        $('#summernote').summernote({
            placeholder: '내용을 작성해주세요',
            tabsize: 10,
            height: 400,
            callbacks:{
                onImageUpload: function (files, editor, welEditable) {
                    //file size check
                    for(var i = files.length-1; i>=0; i--){
                        if(files[i].size > 1024*1024*30){
                            alert('5MB 미만의 파일을 사용해주세요');
                            return;
                        }
                    }
                    //file sending
                    for(var i = files.length - 1; i>=0; i--){
                        console.log('통과')
                        sendImg(files[i], this, `/upload`);
                    }

                }
            }
        });
    });

    function sendImg(file, el, uploadURL) {
        var form_data = new FormData();
        form_data.append("file", file);
        console.log(file);
        $.ajax({
            data: form_data,
            type: "POST",
            url: uploadURL,
            // cache: false,
            contentType: false,
            processData: false,
            success: function (res) {
                $(el).summernote('editor.insertImage', "./public/documents/images/" + res.data.filename);
            }
        });
    }

</script>

<%- include('../../manage/include/footer.ejs') %>