<%- include('../../common/include/header.ejs') %>

<body id="main" style="overflow-x: hidden;">

<div class="container">
    <section class="section_01">
        <img src="/public/img/san/brand_top.png">
        <img style="display: none;" src="/public/img/nac_main_1.png">
    </section>

    <section class="brand_section_02">
        <img class="brand_sec2_icon" src="/public/img/san/brand_icon.png">
        <div class="b_sec2_div">
            <span class="b_sec2_span_1 b_span1_top">우리네 안전한 먹거리</span>
            <span class="b_sec2_span_1 b_span1_btm">행복한 식탁</span>
            <span class="b_sec2_span_2">우리네 안전한 먹거리가 있기에 행복한 식탁이 될 수 있는 것</span>
            <span class="b_sec2_span_2">그 사실을 오래도록 보존하고자 매일 노력하는 산들정이 되겠습니다.</span>
        </div>
        <img class="brand_sec2_img01" src="/public/img/san/brand_sec2_img.png">
    </section>

    <section class="brand_section_03">
        <img class="brand_sec3_icon" src="/public/img/san/brand_icon_2.png">
        <span class="b_sec3_span sec3_span1">산들정이 추구하는 가치란</span>
        <span class="b_sec3_span sec3_span2">신선함을 정직하게 전달하여 소비자를 행복하게</span>
        <div class="b_sec3_border"></div>
        <div class="main_div">
            <div class="main_bsec2_mid_div_btm">
                <div>
                    <img class="project_img" src="/public/img/san/SLOGAN_1.png" id="thumbnail"/>
                    <span class="main_bsec2_span_top" id="title">보다 정직하게</span>
                    <span class="main_bsec2_span_btm" id="subtitle">거짓없이 정직한 식품을 약속드립니다.</span>
                </div>
                <div>
                    <img class="project_img" src="/public/img/san/SLOGAN_2.png" id="thumbnail"/>
                    <span class="main_bsec2_span_top" id="title">더욱 신선하게</span>
                    <span class="main_bsec2_span_btm" id="subtitle">신선한 우리 농작물의 푸르름을 그대로 간직합니다.</span>
                </div>
                <div>
                    <img class="project_img" src="/public/img/san/SLOGAN_3.png" id="thumbnail"/>
                    <span class="main_bsec2_span_top" id="title">항상 행복하게</span>
                    <span class="main_bsec2_span_btm" id="subtitle">매일매일의 행복한 우리 가족 식탁을 위해 노력합니다.</span>
                </div>
            </div>
        </div>
    </section>

    <section class="brand_section_04">
        <span class="b_sec4_span1">걸어온 길</span>
        <div class="b_sec4_history">
            <div class="div_history_01 div_history">
                <img class="history_icon_big" src=""/>
                <span class="history_span">2017.09 농업회사법인(주) 산들정 설립</span>
            </div>
            <div class="div_history_02 div_history">
                <img class="history_icon_big" src=""/>
                <span class="history_span">2018.06 오픈마켓 오픈, 전국 유명 밴더 업체 협업</span>
            </div>
            <div class="div_history_03 div_history">
                <img class="history_icon_big" src=""/>
                <span class="history_span">2019.09 내가진짜사과즙이다 론칭</span>
            </div>
            <div class="div_history_04 div_history">
                <img class="history_icon_big" src=""/>
                <span class="history_span">2020.03 오픈마켓 TOP3 랭킹</span>
            </div>
            <div class="div_history_05 div_history">
                <img class="history_icon_big" src=""/>
                <span class="history_span">2020.08 내가진짜사과즙이다 상표등록</span>
            </div>
            <div class="div_history_06 div_history">
                <img class="history_icon_big" src=""/>
                <span class="history_span">2021.06 산들정 상표 등록</span>
            </div>
            <div class="div_history_07 div_history">
                <img class="history_icon_big" src=""/>
                <span class="history_span">2022.03 내가진짜맛있는쌀이다 론칭</span>
            </div>
            <div class="div_history_08 div_history">
                <img class="history_icon_big" src=""/>
                <span class="history_span">2023.08 내가진짜맛있는누룽지다 론칭</span>
            </div>
        </div>
        <img class="b_sec4_contact_img" src="/public/img/san/brand_img_btm.png"/>
        <div class="b_sec4_border"></div>
    </section>

</div>
</body>
  <script>
    window.onload = function (){
      setTimeout(() => document.getElementById('main_span').style.top = '0' , 500);
    }
  </script>
<%- include('../../common/include/footer.ejs') %>